  .converted{
      font-size: 20px;
      position: relative;
      text-align: center;
      width: 100%;

            }
  .centered {
    position: relative;
    color:whitesmoke;
    background-color:#008000 ;
    height: 100vh;

    /* bring your own prefixes */
  }
  h3{
      color: whitesmoke;
  }
  .text-primary{
      color: cornsilk;
  }
  .void{
      font-size: 40px;
      position: relative;
      text-align: center;
      width: 100%;
  }
  #grad1 {
    height: 200px;
    background-color: #cccccc;
    background-image: linear-gradient(red, yellow, green);
}
.button {
    
    border-radius: 3px;
    position: relative;
    font-size: 18px;
    display: block;
    box-sizing: border-box;

}

.button:hover {
    background-color: #46a049;
}
